{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - max_height: {Number} Maximum height of the product's image (required)
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
<!--     <div>{{ product.description | strip_html |  truncatewords: 25 }}</div> -->
<!--     <span>{{product.description}}</span> -->
  </a>

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless preview_image == blank %}
    {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
      <div style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
        <img id="{{ img_id }}"
              class="grid-view-item__image lazyload"
              alt="{{ preview_image.alt }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ preview_image.aspect_ratio }}"
              data-sizes="auto"
              data-image>
      </div>
    </div>
    <div class="placeholder-background placeholder-background--animation" data-image-placeholder></div>
  </div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
  </noscript>

  <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>
<!--   ADD DESCRIPTION BELOW -->
<!--       <div>{{ product.description | strip_html |  truncatewords: 10 }}</div> -->
{% comment %}Start automatically added Judge.me widget{% endcomment %}
  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
{% comment %}End automatically added Judge.me widget{% endcomment %}


  {% include 'product-price-listing', product: product, show_vendor: show_vendor %}

</div>


<!-- code in add to cart per product immediately with minus plus input selector -->

<div
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
  data-ajax-enabled="{{ settings.enable_ajax }}"
  style="display: flex; justify-content: center;"
>
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {% form 'product', product, class:form_classes, novalidate: 'novalidate',
 data-product-form: '' %} 
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  <div class="qtydiv">
    <div class="qtybox">
      <span class="btnqty qtyminus icon icon-minus">-</span>
          <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector quantity-input" readonly data-quantity-input>
      <span class="btnqty qtyplus icon icon-plus">+</span>
    </div>
</div>
  <button type="submit" name="add"               
aria-label="{{ 'products.product.add_to_cart' | t }}"
class="btn product-form__cart-submit
{% if section.settings.enable_payment_button %}
btn--secondary-accent{% endif %}"
{% if settings.enable_ajax %}aria-haspopup="dialog" {% endif %}
data-add-to-cart>
<span data-add-to-cart-text>
{{ 'products.product.add_to_cart' | t }}
    </span>
    <span class="hide" data-loader>
      {% include 'icon-spinner' %}
    </span>
  </button>
  {% endform %}
  
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}
<!-- END code in add to cart per product immediatelyssss -->
